%h3= "The weather is currently #{@data.weather}."
  %img.weather-icon{src: @data.icon_url}

-if @data.warning
  %p{class: @data.warning[0]}= @data.warning[1]

%p= "You should probably wear #{@data.wear}."

%table.horizontal
  %tr
    %td Temp
    %td= "#{@data.temp_f} F"
  %tr
    %td Feels like
    %td= "#{@data.feelslike_f} F"
  %tr
    %td Wind speed
    %td= "#{@data.wind_mph} mph"
  %tr
    %td Precipitation
    %td= "#{@data.precip_today_in} inches"
